* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}
body {
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    padding: 10px 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
input, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
button {
    cursor: pointer;
    background-color: #a6f546;
    border: none;
}
h1 {
    text-align: center;
    margin: 10px;
}
#diceImages {
    overflow: hidden;
}
#diceImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
